includes:
    - '100.neon'

services:
    -
        class: PHPStan\Rules\Properties\ExistingClassesInPropertiesRule
        tags:
            - phpstan.rules.rule

        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%
            checkThisOnly: %checkThisOnly%

