includes:
    - '101.neon'

services:
    -
        class: PHPStan\Rules\Functions\FunctionCallableRule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

