includes:
    - '102.neon'

services:
    -
        class: PHPStan\Rules\Properties\MissingReadOnlyByPhpDocPropertyAssignRule

conditionalTags:
    PHPStan\Rules\Properties\MissingReadOnlyByPhpDocPropertyAssignRule:
        phpstan.rules.rule: %featureToggles.readOnlyByPhpDoc%

