includes:
    - '103.neon'

services:
    -
        class: PHPStan\Rules\Properties\OverridingPropertyRule
        arguments:
            checkPhpDocMethodSignatures: %checkPhpDocMethodSignatures%
            reportMaybes: %reportMaybesInPropertyPhpDocTypes%

        tags:
            - phpstan.rules.rule

