includes:
    - '104.neon'

services:
    -
        class: PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyRule

conditionalTags:
    PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyRule:
        phpstan.rules.rule: %featureToggles.readOnlyByPhpDoc%

