includes:
    - '105.neon'

services:
    -
        class: PHPStan\Rules\Properties\UninitializedPropertyRule

conditionalTags:
    PHPStan\Rules\Properties\UninitializedPropertyRule:
        phpstan.rules.rule: %checkUninitializedProperties%

