includes:
    - '106.neon'

services:
    -
        class: PHPStan\Rules\Properties\WritingToReadOnlyPropertiesRule
        arguments:
            checkThisOnly: %checkThisOnly%

        tags:
            - phpstan.rules.rule

