includes:
    - '107.neon'

services:
    -
        class: PHPStan\Rules\Properties\ReadingWriteOnlyPropertiesRule
        arguments:
            checkThisOnly: %checkThisOnly%

        tags:
            - phpstan.rules.rule

