includes:
    - '108.neon'

services:
    -
        class: PHPStan\Rules\Variables\CompactVariablesRule
        arguments:
            checkMaybeUndefinedVariables: %checkMaybeUndefinedVariables%

        tags:
            - phpstan.rules.rule

