includes:
    - '112.neon'

services:
    -
        class: PHPStan\Rules\Methods\MissingMagicSerializationMethodsRule

conditionalTags:
    PHPStan\Rules\Methods\MissingMagicSerializationMethodsRule:
        phpstan.rules.rule: %featureToggles.missingMagicSerializationRule%

