includes:
    - '113.neon'

services:
    -
        class: PHPStan\Rules\Constants\MagicConstantContextRule

conditionalTags:
    PHPStan\Rules\Constants\MagicConstantContextRule:
        phpstan.rules.rule: %featureToggles.magicConstantOutOfContext%

