includes:
    - easy_levels/114.neon

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

conditionalTags: []
rules:
    - PHPStan\Rules\Classes\UnusedConstructorParametersRule

