includes:
    - '114.neon'

rules:
    - PHPStan\Rules\Classes\UnusedConstructorParametersRule

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

