includes:
    - '114.neon'

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

rules:
    - PHPStan\Rules\Classes\UnusedConstructorParametersRule

conditionalTags: []
