includes:
    - '115.neon'

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

rules:
    - PHPStan\Rules\Constants\ConstantRule

