includes:
    - easy_levels/115.neon

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

conditionalTags: []
rules:
    - PHPStan\Rules\Constants\ConstantRule

