includes:
    - '116.neon'

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

rules:
    - PHPStan\Rules\Functions\UnusedClosureUsesRule

