includes:
    - easy_levels/116.neon

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

conditionalTags: []
rules:
    - PHPStan\Rules\Functions\UnusedClosureUsesRule

