includes:
    - '117.neon'

parameters:
    checkMaybeUndefinedVariables: true
    checkExtraArguments: true
    reportMagicMethods: true
    reportMagicProperties: true

rules:
    - PHPStan\Rules\Variables\EmptyRule

