includes:
    - '122.neon'

rules:
    - PHPStan\Rules\Cast\InvalidPartOfEncapsedStringRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

