includes:
    - '125.neon'

rules:
    - PHPStan\Rules\Comparison\UsageOfVoidMatchExpressionRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

