includes:
    - '126.neon'

rules:
    - PHPStan\Rules\Constants\ValueAssignedToClassConstantRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

