includes:
    - '127.neon'

rules:
    - PHPStan\Rules\Functions\IncompatibleDefaultParameterTypeRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

