includes:
    - '133.neon'

rules:
    - PHPStan\Rules\Generics\FunctionSignatureVarianceRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

