includes:
    - '135.neon'

rules:
    - PHPStan\Rules\Generics\InterfaceTemplateTypeRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

