includes:
    - '137.neon'

rules:
    - PHPStan\Rules\Generics\MethodSignatureVarianceRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

