includes:
    - '140.neon'

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

rules:
    - PHPStan\Rules\Methods\CallPrivateMethodThroughStaticRule

