includes:
    - '140.neon'

rules:
    - PHPStan\Rules\Methods\CallPrivateMethodThroughStaticRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

