includes:
    - '141.neon'

rules:
    - PHPStan\Rules\Methods\IncompatibleDefaultParameterTypeRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

