includes:
    - '142.neon'

rules:
    - PHPStan\Rules\Operators\InvalidBinaryOperationRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

