includes:
    - '143.neon'

rules:
    - PHPStan\Rules\Operators\InvalidUnaryOperationRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

