includes:
    - '144.neon'

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

rules:
    - PHPStan\Rules\Operators\InvalidComparisonOperationRule

