includes:
    - '144.neon'

rules:
    - PHPStan\Rules\Operators\InvalidComparisonOperationRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

