includes:
    - '145.neon'

rules:
    - PHPStan\Rules\PhpDoc\FunctionConditionalReturnTypeRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

