includes:
    - '146.neon'

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

rules:
    - PHPStan\Rules\PhpDoc\MethodConditionalReturnTypeRule

