includes:
    - '152.neon'

rules:
    - PHPStan\Rules\PhpDoc\IncompatiblePropertyPhpDocTypeRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

