includes:
    - '153.neon'

rules:
    - PHPStan\Rules\PhpDoc\InvalidThrowsPhpDocValueRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

