includes:
    - '154.neon'

rules:
    - PHPStan\Rules\Properties\AccessPrivatePropertyThroughStaticRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

