includes:
    - '158.neon'

rules:
    - PHPStan\Rules\PhpDoc\RequireExtendsDefinitionClassRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

