includes:
    - '159.neon'

rules:
    - PHPStan\Rules\PhpDoc\RequireExtendsDefinitionTraitRule

parameters:
    checkClassCaseSensitivity: true
    checkThisOnly: false
    checkPhpDocMissingReturn: true

