includes:
    - '160.neon'

services:
    -
        class: PHPStan\Rules\Classes\MixinRule
        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%

        tags:
            - phpstan.rules.rule

