includes:
    - '162.neon'

services:
    -
        class: PHPStan\Rules\PhpDoc\RequireImplementsDefinitionTraitRule
        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%

        tags:
            - phpstan.rules.rule

