includes:
    - '163.neon'

services:
    -
        class: PHPStan\Rules\Functions\IncompatibleArrowFunctionDefaultParameterTypeRule

conditionalTags:
    PHPStan\Rules\Functions\IncompatibleArrowFunctionDefaultParameterTypeRule:
        phpstan.rules.rule: %featureToggles.closureDefaultParameterTypeRule%

