includes:
    - '164.neon'

services:
    -
        class: PHPStan\Rules\Functions\IncompatibleClosureDefaultParameterTypeRule

conditionalTags:
    PHPStan\Rules\Functions\IncompatibleClosureDefaultParameterTypeRule:
        phpstan.rules.rule: %featureToggles.closureDefaultParameterTypeRule%

