includes:
    - '165.neon'

services:
    -
        class: PHPStan\Rules\Functions\CallCallablesRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

