includes:
    - '166.neon'

services:
    -
        class: PHPStan\Rules\Methods\IllegalConstructorMethodCallRule

conditionalTags:
    PHPStan\Rules\Methods\IllegalConstructorMethodCallRule:
        phpstan.rules.rule: %featureToggles.illegalConstructorMethodCall%

