includes:
    - '167.neon'

services:
    -
        class: PHPStan\Rules\Methods\IllegalConstructorStaticCallRule

conditionalTags:
    PHPStan\Rules\Methods\IllegalConstructorStaticCallRule:
        phpstan.rules.rule: %featureToggles.illegalConstructorMethodCall%

