includes:
    - '168.neon'

services:
    -
        class: PHPStan\Rules\PhpDoc\InvalidPhpDocTagValueRule
        arguments:
            checkAllInvalidPhpDocs: %featureToggles.allInvalidPhpDocs%
            invalidPhpDocTagLine: %featureToggles.invalidPhpDocTagLine%

        tags:
            - phpstan.rules.rule

