includes:
    - '169.neon'

services:
    -
        class: PHPStan\Rules\PhpDoc\InvalidPhpDocVarTagTypeRule
        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%
            checkMissingVarTagTypehint: %checkMissingVarTagTypehint%

        tags:
            - phpstan.rules.rule

