includes:
    - '170.neon'

services:
    -
        class: PHPStan\Rules\PhpDoc\InvalidPHPStanDocTagRule
        arguments:
            checkAllInvalidPhpDocs: %featureToggles.allInvalidPhpDocs%

        tags:
            - phpstan.rules.rule

