includes:
    - '172.neon'

services:
    -
        class: PHPStan\Rules\PhpDoc\WrongVariableNameInVarTagRule
        arguments:
            checkTypeAgainstNativeType: %featureToggles.varTagType%

        tags:
            - phpstan.rules.rule

