includes:
    - '173.neon'

services:
    -
        class: PHPStan\Rules\Generics\PropertyVarianceRule
        arguments:
            readOnlyByPhpDoc: %featureToggles.readOnlyByPhpDoc%

conditionalTags:
    PHPStan\Rules\Generics\PropertyVarianceRule:
        phpstan.rules.rule: %featureToggles.propertyVariance%

