includes:
    - '192.neon'

services:
    -
        class: PHPStan\Rules\Arrays\InvalidKeyInArrayDimFetchRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

