includes:
    - '193.neon'

services:
    -
        class: PHPStan\Rules\Arrays\InvalidKeyInArrayItemRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

