includes:
    - '194.neon'

services:
    -
        class: PHPStan\Rules\Arrays\NonexistentOffsetInArrayDimFetchRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

