includes:
    - '196.neon'

services:
    -
        class: PHPStan\Rules\Exceptions\ThrowsVoidMethodWithExplicitThrowPointRule
        arguments:
            exceptionTypeResolver: @exceptionTypeResolver
            missingCheckedExceptionInThrows: %exceptions.check.missingCheckedExceptionInThrows%

        tags:
            - phpstan.rules.rule

