includes:
    - '197.neon'

services:
    -
        class: PHPStan\Rules\Generators\YieldFromTypeRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

