includes:
    - '198.neon'

services:
    -
        class: PHPStan\Rules\Generators\YieldInGeneratorRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

