includes:
    - '199.neon'

services:
    -
        class: PHPStan\Rules\Arrays\ArrayUnpackingRule

conditionalTags:
    PHPStan\Rules\Arrays\ArrayUnpackingRule:
        phpstan.rules.rule: %featureToggles.arrayUnpacking%

