includes:
    - '200.neon'

services:
    -
        class: PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyAssignRefRule

conditionalTags:
    PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyAssignRefRule:
        phpstan.rules.rule: %featureToggles.readOnlyByPhpDoc%

