includes:
    - '201.neon'

services:
    -
        class: PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyAssignRule

conditionalTags:
    PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyAssignRule:
        phpstan.rules.rule: %featureToggles.readOnlyByPhpDoc%

