includes:
    - '215.neon'

services:
    -
        class: PHPStan\Rules\Classes\ImpossibleInstanceOfRule
        arguments:
            checkAlwaysTrueInstanceof: %checkAlwaysTrueInstanceof%
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

