includes:
    - '217.neon'

services:
    -
        class: PHPStan\Rules\Comparison\BooleanOrConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            bleedingEdge: %featureToggles.bleedingEdge%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

