includes:
    - '217.neon'

parameters:
    checkAdvancedIsset: true

conditionalTags:
    PHPStan\Rules\Comparison\ConstantLooseComparisonRule:
        phpstan.rules.rule: %featureToggles.looseComparison%

    PHPStan\Rules\Traits\TraitDeclarationCollector:
        phpstan.collector: %featureToggles.notAnalysedTrait%

    PHPStan\Rules\Traits\TraitUseCollector:
        phpstan.collector: %featureToggles.notAnalysedTrait%

    PHPStan\Rules\Traits\NotAnalysedTraitRule:
        phpstan.rules.rule: %featureToggles.notAnalysedTrait%

    PHPStan\Rules\Comparison\LogicalXorConstantConditionRule:
        phpstan.rules.rule: %featureToggles.logicalXor%

services:
    -
        class: PHPStan\Rules\Comparison\BooleanOrConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            bleedingEdge: %featureToggles.bleedingEdge%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

