includes:
    - '218.neon'

services:
    -
        class: PHPStan\Rules\Comparison\BooleanNotConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

