includes:
    - '219.neon'

services:
    -
        class: PHPStan\Rules\DeadCode\NoopRule
        arguments:
            logicalXor: %featureToggles.logicalXor%

        tags:
            - phpstan.rules.rule

