includes:
    - '221.neon'

services:
    -
        class: PHPStan\Rules\Comparison\DoWhileLoopConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

