includes:
    - '223.neon'

services:
    -
        class: PHPStan\Rules\Comparison\IfConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

