includes:
    - '224.neon'

services:
    -
        class: PHPStan\Rules\Comparison\ImpossibleCheckTypeFunctionCallRule
        arguments:
            checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

