includes:
    - '225.neon'

services:
    -
        class: PHPStan\Rules\Comparison\ImpossibleCheckTypeMethodCallRule
        arguments:
            checkAlwaysTrueCheckTypeFunctionCall: %checkAlwaysTrueCheckTypeFunctionCall%
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

