includes:
    - '227.neon'

services:
    -
        class: PHPStan\Rules\Comparison\LogicalXorConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

