includes:
    - '227.neon'

services:
    -
        class: PHPStan\Rules\Comparison\LogicalXorConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

conditionalTags:
    PHPStan\Rules\Comparison\LogicalXorConstantConditionRule:
        phpstan.rules.rule: %featureToggles.logicalXor%

