includes:
    - '228.neon'

services:
    -
        class: PHPStan\Rules\Comparison\MatchExpressionRule
        arguments:
            checkAlwaysTrueStrictComparison: %checkAlwaysTrueStrictComparison%
            disableUnreachable: %featureToggles.disableUnreachableBranchesRules%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

