includes:
    - '229.neon'

services:
    -
        class: PHPStan\Rules\Comparison\NumberComparisonOperatorsConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

