includes:
    - '230.neon'

services:
    -
        class: PHPStan\Rules\Comparison\StrictComparisonOfDifferentTypesRule
        arguments:
            checkAlwaysTrueStrictComparison: %checkAlwaysTrueStrictComparison%
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

        tags:
            - phpstan.rules.rule

