includes:
    - '231.neon'

services:
    -
        class: PHPStan\Rules\Comparison\ConstantLooseComparisonRule
        arguments:
            checkAlwaysTrueLooseComparison: %checkAlwaysTrueLooseComparison%
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            reportAlwaysTrueInLastCondition: %reportAlwaysTrueInLastCondition%

