includes:
    - '232.neon'

services:
    -
        class: PHPStan\Rules\Comparison\TernaryOperatorConstantConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

