includes:
    - '233.neon'

services:
    -
        class: PHPStan\Rules\Comparison\UnreachableIfBranchesRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            disable: %featureToggles.disableUnreachableBranchesRules%

        tags:
            - phpstan.rules.rule

