includes:
    - '234.neon'

services:
    -
        class: PHPStan\Rules\Comparison\UnreachableTernaryElseBranchRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
            disable: %featureToggles.disableUnreachableBranchesRules%

        tags:
            - phpstan.rules.rule

