includes:
    - '235.neon'

services:
    -
        class: PHPStan\Rules\Comparison\WhileLoopAlwaysFalseConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

