includes:
    - '236.neon'

services:
    -
        class: PHPStan\Rules\Comparison\WhileLoopAlwaysTrueConditionRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

        tags:
            - phpstan.rules.rule

