includes:
    - '237.neon'

services:
    -
        class: PHPStan\Rules\TooWideTypehints\TooWideMethodReturnTypehintRule
        arguments:
            checkProtectedAndPublicMethods: %checkTooWideReturnTypesInProtectedAndPublicMethods%
            alwaysCheckFinal: %featureToggles.alwaysCheckTooWideReturnTypeFinalMethods%

        tags:
            - phpstan.rules.rule

