includes:
    - '239.neon'

services:
    -
        class: PHPStan\Rules\Traits\TraitDeclarationCollector

conditionalTags:
    PHPStan\Rules\Traits\TraitDeclarationCollector:
        phpstan.collector: %featureToggles.notAnalysedTrait%

