includes:
    - '240.neon'

services:
    -
        class: PHPStan\Rules\Traits\TraitUseCollector

conditionalTags:
    PHPStan\Rules\Traits\TraitUseCollector:
        phpstan.collector: %featureToggles.notAnalysedTrait%

