includes:
    - '241.neon'

services:
    -
        class: PHPStan\Rules\Traits\NotAnalysedTraitRule

conditionalTags:
    PHPStan\Rules\Traits\NotAnalysedTraitRule:
        phpstan.rules.rule: %featureToggles.notAnalysedTrait%

