includes:
    - '242.neon'

services:
    -
        class: PHPStan\Rules\Exceptions\CatchWithUnthrownExceptionRule
        arguments:
            exceptionTypeResolver: @exceptionTypeResolver
            reportUncheckedExceptionDeadCatch: %exceptions.reportUncheckedExceptionDeadCatch%

        tags:
            - phpstan.rules.rule

