includes:
    - easy_levels/243.neon

parameters:
    checkFunctionArgumentTypes: true
    checkArgumentsPassedByReference: true

conditionalTags:
    PHPStan\Rules\Functions\ArrayFilterRule:
        phpstan.rules.rule: %featureToggles.arrayFilter%

    PHPStan\Rules\Functions\CallUserFuncRule:
        phpstan.rules.rule: %featureToggles.callUserFunc%

rules:
    - PHPStan\Rules\DateTimeInstantiationRule

