includes:
    - '245.neon'

services:
    -
        class: PHPStan\Rules\Functions\RandomIntParametersRule
        arguments:
            reportMaybes: %reportMaybes%

        tags:
            - phpstan.rules.rule

