includes:
    - '246.neon'

services:
    -
        class: PHPStan\Rules\Functions\ArrayFilterRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%

conditionalTags:
    PHPStan\Rules\Functions\ArrayFilterRule:
        phpstan.rules.rule: %featureToggles.arrayFilter%

