includes:
    - '247.neon'

services:
    -
        class: PHPStan\Rules\Functions\CallUserFuncRule

conditionalTags:
    PHPStan\Rules\Functions\CallUserFuncRule:
        phpstan.rules.rule: %featureToggles.callUserFunc%

