includes:
    - '248.neon'

parameters:
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true

rules:
    - PHPStan\Rules\Constants\MissingClassConstantTypehintRule

conditionalTags: []
