includes:
    - '249.neon'

parameters:
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true

rules:
    - PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule

