includes:
    - easy_levels/250.neon

parameters:
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true

conditionalTags: []
rules:
    - PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule

