includes:
    - '251.neon'

parameters:
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true

rules:
    - PHPStan\Rules\Methods\MissingMethodParameterTypehintRule

