includes:
    - easy_levels/251.neon

parameters:
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true

conditionalTags: []
rules:
    - PHPStan\Rules\Methods\MissingMethodParameterTypehintRule

