includes:
    - '252.neon'

rules:
    - PHPStan\Rules\Methods\MissingMethodReturnTypehintRule

parameters:
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    checkMissingVarTagTypehint: true
    checkMissingTypehints: true

