includes:
    - '81.neon'

services:
    -
        class: PHPStan\Rules\Api\ApiClassConstFetchRule

conditionalTags:
    PHPStan\Rules\Api\ApiClassConstFetchRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

