includes:
    - '82.neon'

services:
    -
        class: PHPStan\Rules\Api\ApiInstanceofRule

conditionalTags:
    PHPStan\Rules\Api\ApiInstanceofRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

