includes:
    - '83.neon'

services:
    -
        class: PHPStan\Rules\Api\ApiInstanceofTypeRule
        arguments:
            enabled: %featureToggles.instanceofType%
            deprecationRulesInstalled: %deprecationRulesInstalled%

        tags:
            - phpstan.rules.rule

