includes:
    - '84.neon'

services:
    -
        class: PHPStan\Rules\Api\NodeConnectingVisitorAttributesRule

conditionalTags:
    PHPStan\Rules\Api\NodeConnectingVisitorAttributesRule:
        phpstan.rules.rule: %featureToggles.nodeConnectingVisitorRule%

