includes:
    - '85.neon'

services:
    -
        class: PHPStan\Rules\Api\RuntimeReflectionFunctionRule

conditionalTags:
    PHPStan\Rules\Api\RuntimeReflectionFunctionRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

