includes:
    - '86.neon'

services:
    -
        class: PHPStan\Rules\Api\RuntimeReflectionInstantiationRule

conditionalTags:
    PHPStan\Rules\Api\RuntimeReflectionInstantiationRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

