includes:
    - '88.neon'

services:
    -
        class: PHPStan\Rules\Classes\ExistingClassInInstanceOfRule
        tags:
            - phpstan.rules.rule

        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%

