includes:
    - '89.neon'

services:
    -
        class: PHPStan\Rules\Exceptions\CaughtExceptionExistenceRule
        tags:
            - phpstan.rules.rule

        arguments:
            checkClassCaseSensitivity: %checkClassCaseSensitivity%

