includes:
    - '91.neon'

services:
    -
        class: PHPStan\Rules\Constants\OverridingConstantRule
        arguments:
            checkPhpDocMethodSignatures: %checkPhpDocMethodSignatures%

        tags:
            - phpstan.rules.rule

