includes:
    - '92.neon'

services:
    -
        class: PHPStan\Rules\Methods\OverridingMethodRule
        arguments:
            checkPhpDocMethodSignatures: %checkPhpDocMethodSignatures%
            genericPrototypeMessage: %featureToggles.genericPrototypeMessage%
            finalByPhpDoc: %featureToggles.finalByPhpDoc%
            checkMissingOverrideMethodAttribute: %checkMissingOverrideMethodAttribute%

        tags:
            - phpstan.rules.rule

