includes:
    - '93.neon'

parameters:
    customRulesetUsed: false

conditionalTags:
    PHPStan\Rules\Api\NodeConnectingVisitorAttributesRule:
        phpstan.rules.rule: %featureToggles.nodeConnectingVisitorRule%

    PHPStan\Rules\Properties\MissingReadOnlyByPhpDocPropertyAssignRule:
        phpstan.rules.rule: %featureToggles.readOnlyByPhpDoc%

    PHPStan\Rules\Properties\ReadOnlyByPhpDocPropertyRule:
        phpstan.rules.rule: %featureToggles.readOnlyByPhpDoc%

    PHPStan\Rules\Properties\UninitializedPropertyRule:
        phpstan.rules.rule: %checkUninitializedProperties%

    PHPStan\Rules\Methods\ConsistentConstructorRule:
        phpstan.rules.rule: %featureToggles.consistentConstructor%

    PHPStan\Rules\Api\ApiClassConstFetchRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

    PHPStan\Rules\Api\ApiInstanceofRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

    PHPStan\Rules\Api\RuntimeReflectionFunctionRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

    PHPStan\Rules\Api\RuntimeReflectionInstantiationRule:
        phpstan.rules.rule: %featureToggles.runtimeReflectionRules%

    PHPStan\Rules\Methods\MissingMagicSerializationMethodsRule:
        phpstan.rules.rule: %featureToggles.missingMagicSerializationRule%

    PHPStan\Rules\Constants\MagicConstantContextRule:
        phpstan.rules.rule: %featureToggles.magicConstantOutOfContext%

services:
    -
        class: PHPStan\Rules\Methods\ConsistentConstructorRule

