includes:
    - '93.neon'

services:
    -
        class: PHPStan\Rules\Methods\ConsistentConstructorRule

conditionalTags:
    PHPStan\Rules\Methods\ConsistentConstructorRule:
        phpstan.rules.rule: %featureToggles.consistentConstructor%

