includes:
    - '94.neon'

services:
    -
        class: PHPStan\Rules\Missing\MissingReturnRule
        arguments:
            checkExplicitMixedMissingReturn: %checkExplicitMixedMissingReturn%
            checkPhpDocMissingReturn: %checkPhpDocMissingReturn%

        tags:
            - phpstan.rules.rule

