includes:
    - '95.neon'

services:
    -
        class: PHPStan\Rules\Namespaces\ExistingNamesInGroupUseRule
        tags:
            - phpstan.rules.rule

        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%

