includes:
    - '96.neon'

services:
    -
        class: PHPStan\Rules\Namespaces\ExistingNamesInUseRule
        tags:
            - phpstan.rules.rule

        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%

