includes:
    - '97.neon'

services:
    -
        class: PHPStan\Rules\Operators\InvalidIncDecOperationRule
        tags:
            - phpstan.rules.rule

        arguments:
            checkThisOnly: %checkThisOnly%

