includes:
    - '98.neon'

services:
    -
        class: PHPStan\Rules\Properties\AccessPropertiesRule
        tags:
            - phpstan.rules.rule

        arguments:
            reportMagicProperties: %reportMagicProperties%
            checkDynamicProperties: %checkDynamicProperties%

