parameters:
    easy_level: 10
    # this allows to run a custom configs without levle
    customRulesetUsed: true

parametersSchema:
    easy_level: int()

services:
    -
        factory: TomasVotruba\EasyStan\Configuration
        arguments:
            - %easy_level%
